*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: darkblue;
    height: 80px;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu a{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.logo {
    width: 100px;
    height: 80px;
}